services:
  actual_server:
    container_name: actual
    image: actualbudget/actual-server:latest-alpine@sha256:34aae5813fdfee12af2a50c4d0667df68029f1d61b90f45f282473273eb70d0d
    networks:
      - actual_budget
    ports:
      - 5007:5006
    environment:
      TZ: ${TZ}
    labels:
      - traefik.enable=true
      - traefik.http.routers.actual.rule=Host(`koko.${public_domain_name}`)
      - traefik.http.routers.actual.entrypoints=websecure
      - traefik.http.middlewares.actual.headers.customrequestheaders.Host=koko.${public_domain_name}
      - traefik.http.services.actual.loadbalancer.server.port=5007

    volumes:
      - ${docker_volume_path}/actual_budget_2/actual-data:/data
    restart: unless-stopped

networks:
  actual_budget_2:
    name: actual_network_2
    driver: bridge
