services:
  samba:
    image: dockurr/samba@sha256:d1d83843751e4fd6f398601acbe1188e33eeff762fb47e611fad6bbfed1354e1
    container_name: samba
    network_mode: host
    environment:
      UID: ${uid}
      GID: ${gid}
    ports:
      - 445:445
    volumes:
      - ${docker_volume_path}/samba/smb.conf:/etc/samba/smb.conf
      - ${docker_volume_path}/samba/users.conf:/etc/samba/users.conf
      - /${zfs_pool_name}/OneDriveDS/Pictures/:/shares/onedrive_photos:rw
      - /${zfs_pool_name}/Videos/TV:/shares/TV:rw
      - /qbittorrent-staging/automatic_ripping_machine/media/:/shares/arm:rw
    restart: always
