services:
  samba:
    image: dockurr/samba@sha256:bf3959301fd5d1dcaf6cc0d8d2ae0801e7edcfe78f91130163ca08bff363f9fa
    container_name: samba
    network_mode: host
    environment:
      UID: ${uid}
      GID: ${gid}
    ports:
      - 445:445
    volumes:
      - ${docker_volume_path}/samba/smb.conf:/etc/samba/smb.conf
      - ${docker_volume_path}/samba/users.conf:/etc/samba/users.conf
      - /${zfs_pool_name}/OneDriveDS/Pictures/:/shares/onedrive_photos:rw
      - /${zfs_pool_name}/Videos/TV:/shares/TV:rw
      - /qbittorrent-staging/automatic_ripping_machine/media/:/shares/arm:rw
    restart: always
