services:
  samba:
    image: dockurr/samba@sha256:1f0de2ded42bded18d8c5f7b2e9f40521b5d7ddc7cf903ea54a0239cc4984a4e
    container_name: samba
    network_mode: host
    environment:
      UID: ${uid}
      GID: ${gid}
    ports:
      - 445:445
    volumes:
      - ${docker_volume_path}/samba/smb.conf:/etc/samba/smb.conf
      - ${docker_volume_path}/samba/users.conf:/etc/samba/users.conf
      - /${zfs_pool_name}/OneDriveDS/Pictures/:/shares/onedrive_photos:rw
      - /${zfs_pool_name}/Videos/TV:/shares/Media/Tv:rw
      - /${zfs_pool_name}/Musique:/shares/Media/Music:rw
      - /qbittorrent-staging/automatic_ripping_machine/media/:/shares/arm:rw
    restart: always
