services:
  onedrive:
    container_name: onedrive
    image: driveone/onedrive:edge@sha256:c9f70080aebda24162d3e9cc079933ad06b7721ddbe23bb8ec714feb25183da0
    restart: unless-stopped
    environment: # https://github.com/abraunegg/onedrive/blob/master/docs/docker.md
      TZ: ${TZ}
      ONEDRIVE_UID: ${uid}
      ONEDRIVE_GID: ${gid}
      ONEDRIVE_DISPLAY_CONFIG: 1
      ONEDRIVE_RESYNC: 0 # Default = 0
    cpus: 3
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recommended if using ipv4 only
    volumes:
      - ${docker_volume_path}/onedrive/config:/onedrive/conf/
      - type: bind
        source: /var/log/onedrive
        target: /var/log/onedrive
      - type: bind
        source: /${zfs_pool_name}/OneDriveDS
        target: /onedrive/data/
