services:
  onedrive:
    container_name: onedrive
    image: driveone/onedrive:edge@sha256:9cce6a719ba9929a38306329ca539e93cd244af4034da73e2da55fb77741a648
    restart: unless-stopped
    environment: # https://github.com/abraunegg/onedrive/blob/master/docs/docker.md
      TZ: ${TZ}
      ONEDRIVE_UID: ${uid}
      ONEDRIVE_GID: ${gid}
      ONEDRIVE_DISPLAY_CONFIG: 1
      ONEDRIVE_RESYNC: 0 # Default = 0
    cpus: 4
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recommended if using ipv4 only
    volumes:
      - ${docker_volume_path}/onedrive/config:/onedrive/conf/
      - type: bind
        source: /var/log/onedrive
        target: /var/log/onedrive
      - type: bind
        source: /${zfs_pool_name}/OneDriveDS
        target: /onedrive/data/
