services:
  postgres:
    container_name: semaphore_db
    restart: unless-stopped
    image: library/postgres:14
    hostname: postgres
    networks:
     - semaphore
    volumes:
     -  ${docker_volume_path}/semaphore:/var/lib/postgresql/data
    environment:
     POSTGRES_USER: ${pg_username}
     POSTGRES_PASSWORD: ${pg_password}
     POSTGRES_DB: semaphore

  semaphore:
    container_name: semaphore
    restart: unless-stopped
    ports:
      - 3000:3000
      - 2222:22
    image: semaphoreui/semaphore:latest@sha256:c213bd7805120c23a47a72e9ed2e2f9dd967cdc4ade83c48dc02011d5f294b6b
    networks:
     - semaphore
    environment:
      TZ: ${TZ}
      SEMAPHORE_DB_USER: ${sempahore_db_user}
      SEMAPHORE_DB_PASS:  ${pg_password}
      SEMAPHORE_DB_HOST: postgres
      SEMAPHORE_DB_PORT: 5432
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: ${semaphore_admin_password}
      SEMAPHORE_ADMIN_NAME: ${semaphore_admin_user}
      SEMAPHORE_ADMIN_EMAIL: ${semaphore_admin_email}
      SEMAPHORE_ADMIN: ${semaphore_admin_user}
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: ${semaphore_access_key_encryption}
      SEMAPHORE_SSH_PORT: 22 # Used to connect to host
      SEMAPHORE_SSH_HOST: ${ansible_host}
      SEMAPHORE_RUNNER_REGISTRATION_TOKEN: ${semaphore_runner_registration_token}
      SEMAPHORE_USE_REMOTE_RUNNER: "${semaphore_use_remote_runner}"
    extra_hosts:
      - host.docker.internal:${ansible_host}
    labels:
      - traefik.enable=true
      - traefik.http.routers.semaphore.rule=Host(`semaphore.${public_domain_name}`)
      - traefik.http.routers.semaphore.entrypoints=websecure
      - traefik.http.middlewares.semaphore.headers.customrequestheaders.Host=semaphore.${public_domain_name}
      - traefik.http.services.semaphore.loadbalancer.server.port=3000
    depends_on:
      - postgres

  sempaphore_runner:
    container_name: semaphore_runner
    image: semaphoreui/runner:latest
    networks:
      - semaphore
    environment:
      SEMAPHORE_WEB_ROOT: https://${docker_stack_name}
      SEMAPHORE_RUNNER_TOKEN: ${semaphore_runner_token}
      SEMAPHORE_RUNNER_PRIVATE_KEY_FILE: ${semaphore_runner_private_key_file}
    volumes:
      - ${docker_volume_path}/${docker_stack_name}/semaphore_runner/config.runner.key:/config.runner.key

volumes:
  semaphore-postgres:

networks:
  semaphore:
    name: semaphore
    driver: bridge
    external: true
